<%- include("partials/header"); -%>

  <h1 ><%=title%></h1>
  <p><%=content%></p>
  <div style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><i>~ <%=name %></i></div>

<%- include("partials/footer"); -%>
